
 <div class="row container-fluid" ng-init="myScorecard.listTeamsName()" >
  <span style=" font-family:verdana !important;"><b style="color:white !important; margin-left:10px !important;"> Filter By : </b><br> <br>
    <div style="margin:0 !important; padding:0 !important;">
      <a ng-href="#/filter/team" ><button type="button" class="btn btn-danger filter-btn" name="button">TEAMS</button></a>
      <a ng-href="#/filter/matchday"><button type="button" class="btn btn-success  filter-btn" name="button">MATCHDAY</button></a>
      <a ng-href="#/filter/year"><button type="button" class="btn btn-info  filter-btn" name="button">YEAR</button></a>
      <a ng-href="#/filter/date"><button type="button" class="btn btn-warning  filter-btn" name="button">DATE</button></a>
    </div>
  </span>
 </div>
