<div class="row container-fluid" ng-init="myMatchdaySingle.arrangeMatchdaySinglePage()" style="padding:20px !important; margin-left: 15% !important; margin-right: 15% !important;" >
  <div class="card"><p class="text-center"> Date : &nbsp{{myMatchdaySingle.date}}</p></div>
  <p style="padding:0px !important; margin: 0 !important; display:inline-block !important; width:100% !important;">
  <div  class="card mainTeamOne" style="float:left !important;">Team :&nbsp{{myMatchdaySingle.teamFirst}}</div>
  <div  class="card mainTeamTwo" style="float:right !important;">Team :&nbsp{{myMatchdaySingle.teamSecond}}</div>
  </p>
  <p style="padding:0px !important; margin: 0 !important; display:inline-block !important; width:100% !important;">
  <div  class="card mainTeamOne" style="float:left !important;">Code : &nbsp{{myMatchdaySingle.codeFirst}}</div>
  <div  class="card mainTeamTwo" style="float:right !important;">Code : &nbsp{{myMatchdaySingle.codeSecond}}</div>
  </p>
  <p style="padding:0px !important; margin: 0 !important; display:inline-block !important; width:100% !important;">
  <div  class="card mainTeamOne" style="float:left !important;">Key : &nbsp{{myMatchdaySingle.keyFirst}}</div>
  <div  class="card mainTeamTwo" style="float:right !important;">Key : &nbsp{{myMatchdaySingle.keySecond}}</div>
  </p>
  <p style="padding:0px !important; margin: 0 !important; display:inline-block !important; width:100% !important;">
  <div  class="card mainTeamOne" style="float:left !important;">Goals : &nbsp{{myMatchdaySingle.scoreFirst}}</div>
  <div  class="card mainTeamTwo" style="float:right !important;">Goals : &nbsp{{myMatchdaySingle.scoreSecond}}</div>
  </p>
  <p class="text-center"><a ng-href="#/"><button  class="btn btn-danger" name="button">Back</button></a></p>
</div>
