<div class="row container-fluid" ng-init="myYear.arrangeYearPage()" >
  <div style=" width:100%; background-color:#666 !important; font-family:verdana !important; "><b style="margin-left:10px !important;color:white !important;"> Filter By : </b> <br> <br>
    <div style="margin:0 !important; padding:0 !important;">
      <a ng-href="#/filter/team" ><button type="button" class="btn btn-danger filter-btn" name="button">TEAMS</button></a>
      <a ng-href="#/filter/matchday"><button type="button" class="btn btn-success  filter-btn" name="button">MATCHDAY</button></a>
      <a ng-href="#/filter/year"><button type="button" class="btn btn-info  filter-btn" name="button">YEAR</button></a>
      <a ng-href="#/filter/date"><button type="button" class="btn btn-warning  filter-btn" name="button">DATE</button></a>
    </div>
  </div>
  <br>
  <p class="text-center" style=" color: #5186AF; font-size: 30px !important; font-family: verdana; margin:0 !important; padding:0 !important;"><b>YEAR</b></p>
<span>
  <a ng-href="#/stats"><button type="button" style="width:100% !important;" class="btn btn-primary" name="button">2015-16</button></a>
  <a ng-href="#/stats"><button type="button" style="width:100% !important;" class="btn btn-primary" name="button">2016-17</button></a>
</span>
</div>
