<div class="row container-fluid" ng-init="myYear.arrangeYearPage()" >
  <div style=" width:100%; background-color:#666 !important;padding-left:10px !important; padding-right:10px !important; font-family:verdana !important;"><b style="color:white !important;"> Filter By : </b> &nbsp
    <span>
      <a ng-href="/Football-Scorecard-master/#/filter/team"><button type="button" class="btn btn-danger filter-btn" name="button">TEAMS</button></a>
      <a ng-href="/Football-Scorecard-master/#/filter/matchday"><button type="button" class="btn btn-success  filter-btn" name="button">MATCHDAY</button></a>
      <a ng-href="/Football-Scorecard-master/#/filter/year"><button type="button" class="btn btn-info  filter-btn" name="button">YEAR</button></a>
      <a ng-href="/Football-Scorecard-master/#/filter/date"><button type="button" class="btn btn-warning  filter-btn" name="button">DATE</button></a>
    </span>
  </div>
  <p class="text-center" style=" color: #5186AF; font-size: 30px !important; font-family: verdana; margin:0 !important; padding:0 !important;"><b>YEAR</b></p>
<span>
  <a ng-href="/Football-Scorecard-master/#/stats"><button type="button" style="width:100% !important;" class="btn btn-primary" name="button">2015-16</button></a>
  <a ng-href="/Football-Scorecard-master/#/stats"><button type="button" style="width:100% !important;" class="btn btn-primary" name="button">2016-17</button></a>
</span>
</div>
